Repository vaadin/flow, pull requests merged in 2019-03, with the labels that each got.

#5167 Some fixes in DevModeHandler to prevent issues in tests
  flow-server/src/main/java/com/vaadin/flow/server/DevModeHandler.java
  flow-server/src/main/java/com/vaadin/flow/server/VaadinServlet.java
  flow-server/src/test/java/com/vaadin/flow/server/DevModeHandlerTest.java
Labels: npm

#5159 NpmPackage annotation
  flow-maven-plugin/src/main/java/com/vaadin/flow/plugin/maven/PackageJsonMojo.java
  flow-maven-plugin/src/main/resources/META-INF/m2e/lifecycle-mapping-metadata.xml
  flow-server/src/main/java/com/vaadin/flow/component/dependency/NpmPackage.java
Labels: npm

#5178 NpmPackage maven goal annotation test
  flow-maven-plugin/src/main/java/com/vaadin/flow/plugin/maven/UpdateNpmDependenciesMojo.java
  flow-maven-plugin/src/test/java/com/vaadin/flow/plugin/maven/UpdateNpmDependenciesMojoTest.java
  flow-server/src/test/java/com/vaadin/flow/component/NpmPackageTest.java
Labels: npm

#5117 Add tests for `@Id` in npm mode
  flow-tests/pom.xml
  flow-tests/test-npm/.gitignore
  flow-tests/test-npm/package.json
  flow-tests/test-npm/pom.xml
  flow-tests/test-npm/src/main/java/com/vaadin/flow/npmtest/ui/IdTestView.java
  flow-tests/test-npm/src/main/webapp/frontend/main.js
  flow-tests/test-npm/src/main/webapp/frontend/my-component.html
  flow-tests/test-npm/src/main/webapp/frontend/my-component.js
  flow-tests/test-npm/src/test/java/com/vaadin/flow/npmtest/ui/IdTestIT.java
  flow-tests/test-npm/webpack.config.js
Labels: npm

#5182 Add maven goal for updating imports. Fixes #5120
  flow-maven-plugin/src/main/java/com/vaadin/flow/plugin/common/AnnotationValuesExtractor.java
  flow-maven-plugin/src/main/java/com/vaadin/flow/plugin/maven/Fragment.java
  flow-maven-plugin/src/main/java/com/vaadin/flow/plugin/maven/UpdateImportsMojo.java
  flow-maven-plugin/src/main/java/com/vaadin/flow/plugin/maven/UpdateNpmDependenciesMojo.java
  flow-maven-plugin/src/main/resources/META-INF/m2e/lifecycle-mapping-metadata.xml
  flow-maven-plugin/src/test/java/com/vaadin/flow/plugin/maven/TestComponents.java
  flow-maven-plugin/src/test/java/com/vaadin/flow/plugin/maven/UpdateImportsMojoTest.java
  flow-maven-plugin/src/test/java/com/vaadin/flow/plugin/maven/UpdateNpmDependenciesMojoTest.java
Labels: npm

#5188 Do not stop webpack when servlet is destroyed.
  flow-server/src/main/java/com/vaadin/flow/server/DevModeHandler.java
  flow-server/src/main/java/com/vaadin/flow/server/VaadinServlet.java
Labels: npm

#5189 Do not update dependencies or imports if already done
  flow-maven-plugin/src/main/java/com/vaadin/flow/plugin/maven/UpdateImportsMojo.java
  flow-maven-plugin/src/main/java/com/vaadin/flow/plugin/maven/UpdateNpmDependenciesMojo.java
  flow-maven-plugin/src/test/java/com/vaadin/flow/plugin/maven/UpdateImportsMojoTest.java
  flow-maven-plugin/src/test/java/com/vaadin/flow/plugin/maven/UpdateNpmDependenciesMojoTest.java
Labels: npm

#5190 Start the dev server through node.
  flow-server/src/main/java/com/vaadin/flow/server/DevModeHandler.java
  flow-server/src/test/java/com/vaadin/flow/server/DevModeHandlerTest.java
Labels: npm

#5199 Fix the @Id test.
  flow-tests/test-npm/src/test/java/com/vaadin/flow/npmtest/ui/IdTestIT.java
Labels: npm, testing

#5209 Try to wait for polymer init
  flow-tests/test-npm/src/test/java/com/vaadin/flow/npmtest/ui/IdTestIT.java
Labels: npm

#5205 Generate stats.json in web context to avoid unneeded jetty reload
  flow-server/src/main/java/com/vaadin/flow/component/polymertemplate/NpmTemplateParser.java
  flow-server/src/main/java/com/vaadin/flow/server/Constants.java
  flow-server/src/main/java/com/vaadin/flow/server/DevModeHandler.java
  flow-server/src/test/java/com/vaadin/flow/component/polymertemplate/NpmTemplateParserTest.java
  flow-server/src/test/resources/build/stats-beverage.json
  flow-server/src/test/resources/build/stats.json
  flow-tests/test-npm/.gitignore
  flow-tests/test-npm/pom.xml
  flow-tests/test-npm/webpack.config.js
Labels: npm

#5212 Append imports to js file instead of replacing whole file.
  flow-maven-plugin/src/main/java/com/vaadin/flow/plugin/maven/UpdateImportsMojo.java
  flow-maven-plugin/src/test/java/com/vaadin/flow/plugin/maven/UpdateImportsMojoTest.java
Labels: npm

#5228 Make webpack start earlier
  flow-server/src/main/java/com/vaadin/flow/server/DevModeHandler.java
  flow-server/src/main/java/com/vaadin/flow/server/VaadinServlet.java
  flow-server/src/main/java/com/vaadin/flow/server/startup/ServletDeployer.java
  flow-server/src/test/java/com/vaadin/flow/server/DevModeHandlerTest.java
Labels: npm

#5254 Insert head elements to make theme work. Avoid repeated theme imports
  flow-maven-plugin/src/main/java/com/vaadin/flow/plugin/maven/UpdateImportsMojo.java
  flow-maven-plugin/src/test/java/com/vaadin/flow/plugin/maven/UpdateImportsMojoTest.java
Labels: npm

#5262 Create webpack.config.js. Fixes #5203
  flow-maven-plugin/src/main/java/com/vaadin/flow/plugin/maven/UpdateNpmDependenciesMojo.java
  flow-maven-plugin/src/main/resources/webpack.config.js
  flow-maven-plugin/src/test/java/com/vaadin/flow/plugin/maven/UpdateNpmDependenciesMojoTest.java
  flow-tests/test-npm/src/main/webapp/frontend/main.js
Labels: npm

#5258 Npm/add dev dependencies
  flow-maven-plugin/src/main/java/com/vaadin/flow/plugin/maven/UpdateNpmDependenciesMojo.java
  flow-maven-plugin/src/test/java/com/vaadin/flow/plugin/maven/UpdateNpmDependenciesMojoTest.java
Labels: npm

#5269 Fix --save-dev
  flow-maven-plugin/src/main/java/com/vaadin/flow/plugin/maven/UpdateNpmDependenciesMojo.java
  flow-maven-plugin/src/test/java/com/vaadin/flow/plugin/maven/UpdateNpmDependenciesMojoTest.java
Labels: npm

#5270 Fix Lumo not found in classpath
  flow-maven-plugin/src/main/java/com/vaadin/flow/plugin/common/AnnotationValuesExtractor.java
  flow-maven-plugin/src/main/java/com/vaadin/flow/plugin/maven/UpdateImportsMojo.java
  flow-maven-plugin/src/main/java/com/vaadin/flow/plugin/maven/UpdateNpmDependenciesMojo.java
  flow-tests/test-npm/package.json
  flow-tests/test-npm/pom.xml
  flow-tests/test-npm/src/main/java/com/vaadin/flow/npmtest/ui/IdTestView.java
Labels: npm

#5271 fix javadoc
  flow-maven-plugin/src/main/java/com/vaadin/flow/plugin/common/AnnotationValuesExtractor.java
Labels: npm

#5276 Fix CI builds because process might not be finished
  flow-client/pom.xml
  flow-maven-plugin/src/main/java/com/vaadin/flow/plugin/maven/UpdateNpmDependenciesMojo.java
Labels: npm

#5287 Add source maps when in dev-mode. Fixes #290
  flow-server/src/main/java/com/vaadin/flow/server/DevModeHandler.java
Labels: npm

#5289 Ignore failing test
  flow-tests/pom.xml
Labels: npm

#5290 Fix npm integration test
  flow-maven-plugin/src/main/java/com/vaadin/flow/plugin/maven/UpdateImportsMojo.java
  flow-maven-plugin/src/main/java/com/vaadin/flow/plugin/maven/UpdateNpmDependenciesMojo.java
  flow-maven-plugin/src/test/java/com/vaadin/flow/plugin/maven/UpdateNpmDependenciesMojoTest.java
  flow-server/src/main/java/com/vaadin/flow/server/DevModeHandler.java
  flow-server/src/main/java/com/vaadin/flow/server/startup/BundleFilterFactory.java
  flow-server/src/test/java/com/vaadin/flow/server/VaadinServiceTest.java
  flow-server/src/test/java/com/vaadin/flow/server/startup/BundleFilterFactoryTest.java
  flow-tests/test-npm/.gitignore
  flow-tests/test-npm/frontend/LikeableElement.js
  flow-tests/test-npm/pom.xml
  flow-tests/test-root-context/src/test/java/com/vaadin/flow/VerifyBrowserVersionIT.java
Labels: npm

#5301 Enable IT test again.
  flow-tests/pom.xml
Labels: npm

#5291 Fix navigate back to main view don't work in FF and Safari . (#5113)
  flow-server/src/main/java/com/vaadin/flow/router/Location.java
  flow-server/src/test/java/com/vaadin/flow/router/LocationTest.java
Labels: to be cherry picked

#5318 Avoid babel transpiling at all when producing es6 bundle
  flow-maven-plugin/src/main/resources/webpack.config.js
Labels: npm

#5234 Move webapp folder in root.
  flow-maven-plugin/src/main/java/com/vaadin/flow/plugin/maven/CopyFrontendFilesMojo.java
  flow-maven-plugin/src/main/java/com/vaadin/flow/plugin/maven/CopyProductionFilesMojo.java
  flow-maven-plugin/src/main/java/com/vaadin/flow/plugin/maven/PackageForProductionMojo.java
  flow-maven-plugin/src/main/java/com/vaadin/flow/plugin/maven/UpdateImportsMojo.java
  flow-maven-plugin/src/main/java/com/vaadin/flow/plugin/maven/UpdateNpmDependenciesMojo.java
  flow-maven-plugin/src/main/resources/webpack.config.js
  flow-server/src/main/java/com/vaadin/flow/server/DevModeHandler.java
  flow-server/src/test/java/com/vaadin/flow/server/DevModeHandlerTest.java
  flow-tests/test-npm/.gitignore
  flow-tests/test-npm/frontend/my-component.js
  flow-tests/test-npm/pom.xml
  pom.xml
Labels: npm

#5319 Add JavaScript modules to WebPack
  flow-maven-plugin/src/main/java/com/vaadin/flow/plugin/maven/AbstractNpmMojo.java
  flow-maven-plugin/src/main/java/com/vaadin/flow/plugin/maven/PackageForProductionMojo.java
  flow-maven-plugin/src/main/java/com/vaadin/flow/plugin/maven/UpdateImportsMojo.java
  flow-maven-plugin/src/main/java/com/vaadin/flow/plugin/maven/UpdateNpmDependenciesMojo.java
  flow-maven-plugin/src/test/java/com/vaadin/flow/plugin/maven/UpdateImportsMojoTest.java
  flow-maven-plugin/src/test/java/com/vaadin/flow/plugin/maven/UpdateNpmDependenciesMojoTest.java
  flow-server/src/main/java/com/vaadin/flow/component/internal/UIInternals.java
  flow-server/src/test/java/com/vaadin/flow/component/ComponentTest.java
  flow-server/src/test/java/com/vaadin/flow/server/communication/UidlWriterTest.java
Labels: npm

#5340 WebComponent fireEvent implementation
  flow-server/src/main/java/com/vaadin/flow/component/webcomponent/WebComponent.java
  flow-server/src/main/java/com/vaadin/flow/server/webcomponent/PropertyConfigurationImpl.java
  flow-server/src/main/java/com/vaadin/flow/server/webcomponent/WebComponentConfigurationImpl.java
  flow-server/src/main/java/com/vaadin/flow/server/webcomponent/WebComponentImpl.java
  flow-server/src/test/java/com/vaadin/flow/server/webcomponent/PropertyConfigurationImplTest.java
  flow-server/src/test/java/com/vaadin/flow/server/webcomponent/WebComponentImplTest.java
  flow-tests/test-web-components/src/main/java/com/vaadin/flow/webcomponent/ClientSelectComponent.java
  flow-tests/test-web-components/src/main/java/com/vaadin/flow/webcomponent/ClientSelectExporter.java
  flow-tests/test-web-components/src/main/java/com/vaadin/flow/webcomponent/FireEventComponent.java
  flow-tests/test-web-components/src/main/java/com/vaadin/flow/webcomponent/FireEventExporter.java
  flow-tests/test-web-components/src/main/java/com/vaadin/flow/webcomponent/PropertyUpdateComponent.java
  flow-tests/test-web-components/src/main/java/com/vaadin/flow/webcomponent/PropertyUpdateExporter.java
  flow-tests/test-web-components/src/main/java/com/vaadin/flow/webcomponent/PushComponent.java
  flow-tests/test-web-components/src/main/java/com/vaadin/flow/webcomponent/PushExporter.java
  flow-tests/test-web-components/src/main/webapp/fireEvent.html
  flow-tests/test-web-components/src/main/webapp/updateProperty.html
  flow-tests/test-web-components/src/test/java/com/vaadin/flow/webcomponent/FireEventIT.java
Labels: embedding flow

#5361 fix typos in param names, webpack location, and start checks when updaters enabled
  flow-maven-plugin/src/main/java/com/vaadin/flow/plugin/maven/NodeUpdateImportsMojo.java
  flow-maven-plugin/src/main/java/com/vaadin/flow/plugin/maven/NodeUpdatePackagesMojo.java
  flow-server/src/main/java/com/vaadin/flow/component/polymertemplate/NpmTemplateParser.java
  flow-server/src/main/java/com/vaadin/flow/server/DevModeHandler.java
  flow-server/src/main/resources/webpack.config.js
  flow-server/src/test/java/com/vaadin/flow/component/polymertemplate/NpmTemplateParserTest.java
  flow-server/src/test/java/com/vaadin/flow/server/DevModeHandlerTest.java
  flow-tests/test-npm/pom.xml
Labels: npm

#5359 Validate js imports in the project file structure
  flow-maven-plugin/src/main/java/com/vaadin/flow/plugin/maven/NodeUpdateAbstractMojo.java
  flow-maven-plugin/src/main/java/com/vaadin/flow/plugin/maven/NodeUpdateImportsMojo.java
  flow-maven-plugin/src/main/java/com/vaadin/flow/plugin/maven/NodeUpdatePackagesMojo.java
  flow-maven-plugin/src/test/java/com/vaadin/flow/plugin/maven/UpdateImportsMojoTest.java
  flow-maven-plugin/src/test/java/com/vaadin/flow/plugin/maven/UpdateNpmDependenciesMojoTest.java
  flow-server/src/main/java/com/vaadin/flow/server/frontend/NodeUpdateImports.java
  flow-server/src/main/java/com/vaadin/flow/server/frontend/NodeUpdatePackages.java
  flow-server/src/main/java/com/vaadin/flow/server/frontend/NodeUpdater.java
Labels: npm

#5366 Move DevMode initialisation to a ServletContainerInitializer
  flow-server/src/main/java/com/vaadin/flow/server/DevModeHandler.java
  flow-server/src/main/java/com/vaadin/flow/server/frontend/NodeUpdater.java
  flow-server/src/main/java/com/vaadin/flow/server/startup/DevModeInitializer.java
  flow-server/src/main/java/com/vaadin/flow/server/startup/ServletDeployer.java
  flow-server/src/main/resources/META-INF/services/javax.servlet.ServletContainerInitializer
Labels: npm

#5367 install flow-frontend modules before make import validations
  flow-maven-plugin/src/test/java/com/vaadin/flow/plugin/maven/UpdateImportsMojoTest.java
  flow-server/src/main/java/com/vaadin/flow/server/frontend/NodeUpdateImports.java
Labels: npm

#4754 Update config and generated class for rich-text-editor
  flow-components-parent/flow-code-generator-api/src/main/java/com/vaadin/generator/registry/ExclusionRegistry.java
  flow-components-parent/flow-generated-components/json_metadata/vaadin-rich-text-editor.json
  flow-components-parent/flow-generated-components/src/main/java/com/vaadin/flow/component/richtexteditor/GeneratedVaadinRichTextEditor.java
  flow-components-parent/flow-generated-components/src/main/java/com/vaadin/flow/component/richtexteditor/RichTextEditorVariant.java
  flow-components-parent/flow-webcomponent-api-analyzer/bower.json
Labels: waiting for author
